.registro-inventarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 98%;
  margin: auto;

  .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
  }

  .title {
    margin-top: 16px;
    padding-left: 60px;
    text-align: center;
    width: 100%;
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 16px;
  }

  .date-filter-box,
  .create-record-box {
    flex: 1;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .date-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }

  .data-grid-container {
    width: 100%;
    height: 600px;
    margin: 20px 0;
  }

  .MuiDataGrid-root {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .add-button,
  .load-button {
    background-color: #46707e;
    color: white;
    &:hover {
      background-color: #3b5c6b;
    }
  }

  .modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 32px;
    max-width: 600px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }

  .modal-header {
    margin-bottom: 20px;
    text-align: center;
  }

  .modal-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .upload-button {
    margin-top: 20px;
    background-color: #46707e;
    color: white;
    &:hover {
      background-color: #3b5c6b;
    }
  }

  .generate-button {
    background-color: #46707e;
    color: white;
    &:hover {
      background-color: #3b5c6b;
    }
  }

  // Estilos para dispositivos móviles
  @media (max-width: 768px) {
    .actions-container {
      flex-direction: column;
      gap: 20px;
    }

    .modal-body {
      grid-template-columns: 1fr;
    }

    .data-grid-container {
      height: 400px; // Reducir el tamaño del grid en pantallas más pequeñas
    }

    .add-button,
    .load-button {
      width: 100%;
    }
  }

  // Estilos para pantallas muy grandes
  @media (min-width: 1200px) {
    .data-grid-container {
      height: 800px; // Aumentar el tamaño del grid en pantallas grandes
    }

    .modal-content {
      max-width: 800px;
    }
  }
}
