html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .modulos-impresion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 16px;
    position: relative;
  }
  
  .modulos-impresion .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  
  .modulos-impresion .title {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
  
  .modulos-impresion .grid-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modulos-impresion .grid-item {
    display: flex;
    justify-content: center;
    margin: 16px;
    height: 100%; // Asegura que el grid item ocupe toda la altura disponible
  }
  
  .modulos-impresion .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; // Asegura que el card ocupe toda la altura disponible del grid item
    width: 250px;
    background-color: #46707e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    transition: background-color 0.3s;
  }
  
  
  .modulos-impresion .card:hover {
    background-color: #3b5c6b;
  }
  
  .modulos-impresion .card-title {
    margin-top: 16px;
  }